/* --- Variables --- */
::root {
  --theme-color: #2a2a2a;
  --theme-bg: #292929;
}

/* reset default browser styles */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

/* universal styles */
.hero-title-sec {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 44px;
  text-transform: uppercase;
  color: var(--theme-color);
}
.hero-container {
  max-width: 1070px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.hero-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.hero-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 200px;
  height: 55px;
  margin-top: 90px;
  background: none;
  border: 3px solid #fff;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 4px;
}
.hero-btn:hover {
  color: #b2b2b2;
  border: 3px solid #b2b2b2;
}
.hero-icon {
  display: inline-flex;
  height: 28px;
  width: 43px;
  align-self: center;
  margin-top: 30px;
  background: url(../img/back-icon.png) no-repeat center center;
}

/* header styles */

.header {
  width: 100%;
  height: 100vh;
  background: url(../img/header-bg.png) no-repeat center center;
  background-size: cover;
  display: flex;
}
.hero-wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.hero-logo {
  margin-top: 30px;
  text-align: center;
}

.hero-logo > img { 
  width: 140px;
  height: 150px;
}
.hero-title {
  margin-top: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 2px;
  color: #ffffff;
}
.hero-line {
  display: -inline-flex;
  align-self: center;
  width: 218px;
  height: 10px;
  background: #25d8d8;
  border: 0px;
}
.hero-subtitle {
  text-align: center;
  font-weight: 200;
  font-size: 25px;
  letter-spacing: 14px;
  color: #fff;
}

/* navbar right-fixed menu */

.main-nav {
  display: flex;
  position: absolute;
  top: 100%;
  justify-content: center;
  width: 100vh;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  z-index: 1;
}
.nav-ul {
  font-weight: 600;
  font-size: 18px;
  list-style-type: none;
}
.nav-li {
  display: inline-flex;
  margin-right: 30px;
}
.nav-li > a{
  color: #fff;
  text-decoration: none;
}
.nav-li a:hover {
  text-decoration: underline;
}

/* Content section "About" */
.hero-about {
  text-align: center;
  text-align: -webkit-center;
}
.hero-desc-sec {
  margin-top: 70px;
  text-align: center;
  font-weight: 300;
  font-size: 33px;
  color: #7f8a90;
}
.hero-col-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 300px;
  max-height: 460px;
  margin: 30px;
}
.hero-column {
  position: relative;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-col-circle {
  display: inline-flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  background: #282828;
  width: 175px;
  height: 175px;
  border-radius: 50%;
}
.hero-col-circle > img {
  width: 91px;
  height: 85px;
}
.hero-col-uptext {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 0%;
  right: 0;
  width: 150px;
  height: 120px;
}
.hero-col-uptext::after {
  content: attr(data-value);
  position: absolute;
  top: 45px;
  right: 65px;
  width: 50px;
  height: 50px;
  font-weight: 900;
  font-size: 65px;
  text-transform: uppercase;
  line-height: 55%; 
  text-shadow: -0   -9px 2px #FFFFFF, 0   -9px 2px #FFFFFF, -0    9px 2px #FFFFFF,0    9px 2px #FFFFFF,-9px -0   2px #FFFFFF, 9px -0   2px #FFFFFF,-9px  0   2px #FFFFFF, 9px  0   2px #FFFFFF,-1px -9px 2px #FFFFFF, 1px -9px 2px #FFFFFF,-1px  9px 2px #FFFFFF, 1px  9px 2px #FFFFFF,-9px -1px 2px #FFFFFF, 9px -1px 2px #FFFFFF,-9px  1px 2px #FFFFFF, 9px  1px 2px #FFFFFF,-2px -9px 2px #FFFFFF, 2px -9px 2px #FFFFFF,-2px  9px 2px #FFFFFF, 2px  9px 2px #FFFFFF,-9px -2px 2px #FFFFFF, 9px -2px 2px #FFFFFF,-9px  2px 2px #FFFFFF, 9px  2px 2px #FFFFFF,-3px -9px 2px #FFFFFF, 3px -9px 2px #FFFFFF,-3px  9px 2px #FFFFFF, 3px  9px 2px #FFFFFF,-9px -3px 2px #FFFFFF, 9px -3px 2px #FFFFFF,-9px  3px 2px #FFFFFF, 9px  3px 2px #FFFFFF,-4px -9px 2px #FFFFFF, 4px -9px 2px #FFFFFF,-4px  9px 2px #FFFFFF, 4px  9px 2px #FFFFFF,-9px -4px 2px #FFFFFF, 9px -4px 2px #FFFFFF,-9px  4px 2px #FFFFFF, 9px  4px 2px #FFFFFF,-5px -9px 2px #FFFFFF, 5px -9px 2px #FFFFFF,-5px  9px 2px #FFFFFF, 5px  9px 2px #FFFFFF,-9px -5px 2px #FFFFFF, 9px -5px 2px #FFFFFF,-9px  5px 2px #FFFFFF, 9px  5px 2px #FFFFFF,-6px -9px 2px #FFFFFF, 6px -9px 2px #FFFFFF,-6px  9px 2px #FFFFFF, 6px  9px 2px #FFFFFF,-9px -6px 2px #FFFFFF, 9px -6px 2px #FFFFFF,-9px  6px 2px #FFFFFF, 9px  6px 2px #FFFFFF,-7px -9px 2px #FFFFFF, 7px -9px 2px #FFFFFF,-7px  9px 2px #FFFFFF, 7px  9px 2px #FFFFFF,-9px -7px 2px #FFFFFF, 9px -7px 2px #FFFFFF,-9px  7px 2px #FFFFFF, 9px  7px 2px #FFFFFF,-8px -9px 2px #FFFFFF, 8px -9px 2px #FFFFFF,-8px  9px 2px #FFFFFF, 8px  9px 2px #FFFFFF,-9px -8px 2px #FFFFFF, 9px -8px 2px #FFFFFF,-9px  8px 2px #FFFFFF, 9px  8px 2px #FFFFFF,-9px -9px 2px #FFFFFF, 9px -9px 2px #FFFFFF,-9px  9px 2px #FFFFFF, 9px  9px 2px #FFFFFF,-9px -9px 2px #FFFFFF, 9px -9px 2px #FFFFFF,-9px  9px 2px #FFFFFF, 9px  9px 2px #FFFFFF;
}
.hero-col-uptext-sec {
  display: inline-flex;
  font-weight: 700;
  font-size: 17px;
  margin: 4% 0 0 30%;
}
.hero-col-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
}

/* content section "Porfolio" */

.hero-portfolio {
 background: #e2e1e1;
}
.hero-portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hero-case {
  max-width: 25%;
  height: 150px;
  padding: 2%;
}

/* content section "Partners" */

.hero-partners {
  background: url(../img/bg-partners.png) no-repeat center center;
  background-size: cover;
  padding: 100px 0;
}

/* wrap only parent for all nested element fixed height** */
.slider-wrap {
  position: relative;
  width: 100%;
  height: 280px;
}
.slider-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.slider-item {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 3%;
}
.slider-item > img {
  max-height: 50px;
}
.slider-controls {
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

/* content section "Contact" */

.hero-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e2e1e1;
}
.hero-contact-wrap {
  width: 100%;
  height: 500px;
  position: relative;
}
.hero-contact-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 5%;
}
input.hero-input-text {
  box-sizing: border-box;
  border: 1px solid #2980b9;
  border-radius: 5px;
  padding: 15px 30px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 25px;
}
input.hero-input-email  {
  box-sizing: border-box;  
  border: 1px solid #2980b9;
  border-radius:5px;
  padding: 15px 30px;
  margin: 15px 0;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 25px;
}
textarea.hero-textarea {
  padding: 4px;
  box-sizing: border-box;  
  border: 1px solid #2980b9;
  border-radius:5px;
  padding: 15px 5px 0 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 25px;
  resize: none;
}
-webkit-input::placeholder {color: #bcbfc0;}
input::placeholder {color: #bcbfc0;}
textarea::placeholder {  color: #bcbfc0;}
-webkit-textarea::placeholder {  color: #bcbfc0;}

.hero-submit-btn {
  background: #25d8d8;
  width: 150px;
  display: flex;
  height: 60px;
  margin-top: 25px;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 5px;
  align-items: center;
  align-self: center;
  border: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 25px;
}
.hero-social {
  width: 45%;
  height: 320px;
  position: absolute;
  top: 0;
  left: 55%;
  display: flex;
  flex-direction: column;
  background-color: #292929;
}
.hero-social-left div > img {
  height: 32px;
  padding: 18px 0;
}
.hero-social-left div > img:first-of-type {
  padding: 19px 0;
  height: 30px;
}
.hero-social-left, .hero-social-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 25px;

}
.hero-social-left {
  align-self: self-start;
  width: 33.3%;
  border-right: 1px solid #fff;
}
.hero-social-left > div {
  align-self: flex-end;
  padding-right: 25px;
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
}
.hero-social-right {
  width: 66.6%;
  height: 100%;

}
.hero-social-right > p {
  align-self: flex-start;
  padding: 21px 0px 12px 50px;
  margin: 0;

}
/* --- Footer --- */

.footer {
  background: #292929;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  height: 45px; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #cac9c9;
}

/* margins & paddings 
 & font-size */
 .fs-30 {
  font-size: 30px;
 }
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-0 {
  margin-top: 0;
}
.mt-15 {
  margin-top: 15px;
}
.mb-70 {
  margin-bottom: 70px;
}
.ml-0 {
  margin-left: 0;
}
.ml-20 {
  margin-left: 20px;
}
.mrl-70 {
  margin-right: 70px;
  margin-left: 70px;
}
.pt-0 {
  padding-top: 0;
}
.pt-50 {
  padding-top: 50px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-100 {
  padding-bottom: 100px;
}
.ptb-90 {
  padding: 90px 0;
}